* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center; }

body {
  background-image: url(../img/fondo2.jpg);
  background-size: cover;
  position: relative; }

ul li {
  display: inline;
  margin: 10px; }
  ul li a {
    font-size: 1.5rem;
    list-style: none; }
    ul li a :hover {
      color: black;
      background-color: green; }

.imagen {
  padding: 20px; }
  .imagen .imgYo {
    height: 50vh;
    width: 20vw; }

.Imagen .banner {
  height: 35vh;
  width: 80vw; }

.texto {
  padding: 20px; }

/* Grid del index*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1.5fr 1.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Heade Heade Heade" "Imagen Imagen Imagen" "imagen imagen texto" "Mis-estudios Mis-estudios Mis-trabajos" "Progreso Progreso Progreso" "footer footer footer"; }

.Heade {
  grid-area: Heade; }

.Imagen {
  grid-area: Imagen; }

.imagen {
  grid-area: imagen; }

.texto {
  grid-area: texto; }

.Mis-estudios {
  grid-area: Mis-estudios; }

.Mis-trabajos {
  grid-area: Mis-trabajos; }

.Progreso {
  grid-area: Progreso; }

.footer {
  grid-area: footer; }

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "Heade" "Imagen" "imagen" "texto" "Mis-Estudios" "Mis-trabajos" "Progreso" "footer"; } }

/* El siguiente grid esta en la page lugarDeResidencia*/
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
  gap: 0px 0px;
  justify-self: center;
  align-items: center;
  grid-auto-flow: row;
  grid-template-areas: "Header Header Header" "Banner Banner Banner" "imagen1 imagen2 imagen3" "imagen1 imagen2 imagen3" "footer2 footer2 footer2"; }

.Header {
  grid-area: Header; }

.Banner {
  grid-area: Banner; }

.imagen1 {
  grid-area: imagen1; }

.imagen2 {
  grid-area: imagen2; }

.imagen3 {
  grid-area: imagen3; }

.footer2 {
  grid-area: footer2; }

@media screen and (max-width: 480px) {
  .container2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "Header" "Banner" "imagen1" "imagen2" "imagen3" "footer2"; } }

.imagen2 {
  grid-area: imagen2; }

.imagen3 {
  grid-area: imagen3; }

.footer2 {
  grid-area: footer2; }

@media screen and (max-width: 480px) {
  .container2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "Header" "Banner" "imagen1" "imagen2" "imagen3" "footer2"; } }
